<!--  наследуемся от шаблона base.html, который мы создавали для flatpages -->
{% extends 'flatpages/base.html' %}

<!-- Название у нас будет Product -->
{% block title %}
Product
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h4 style="color: red;">{{ product.name }}</h4>
<hr>
<p>{{ product.description }}</p>
<p>Цена: {{ product.price }}</p>
<p>В наличии: {{ product.quantity }} шт.</p>
{% if perms.simpleapp.change_product %}

<div class="row">
    <div class="col-md-6">
        <a href="{% url 'product_update' pk=product.pk %}" class="btn btn-primary">Редактировать</a>
        <a href="{% url 'product_delete' pk=product.pk %}" class="btn btn-danger ml-2" onclick="return confirm('Вы уверены, что хотите удалить товар?')">Удалить</a>
    </div>
</div>


{% endif %}
{% endblock content %}
